body{
    background-color: #000000;

}

header{
    display: flex;
    justify-content: center;
}

.main-logo{
    margin-top: 100px;
}

.container{
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.main-title{
    color: #ffffff;
    display: block;
    font-size: 30px;
    margin: 70px;
}

.profile-list{
    display: inline-flex;
    justify-content: center;
    list-style: none;
}

.profile-picture{
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 20px;
}


.username{
    color: #808080;
}

.username:hover{
    color: #ffffff;
}

.box img:hover{
    display: block;
    border-color: #ffffff;
    outline: auto;
}

.button{
    color: #ffffff;
    background-color: #000000;
    padding: 10px 30px;
    border-color: #ffffff;
    border-radius: 8px;
    font-size: 20px;
}

.button:hover{
    color:#000000;
    background-color: #ffffff;
}

.class-button{
    text-align: center;
    margin-top: 130px;
}