* {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.mainlogo {
    display:block;
    margin:auto;
    width: 350px;
}

body {
    background-color:#000000;
}

#titulo-principal {
    color:#ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

.img-perfil {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}

.nome-perfil {
    color:#808080;
    padding: 10px;
}

#botao-perfil {
    color:#ffffff;
    background-color:#000000;
    border-color:#ffffff;
    border-radius:8px;
    padding: 15px 45px;
}

.botao {
    text-align: center;
}